body{
    background-color: rgb(183, 245, 245);
    color: rgb(66, 31, 99);
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
body:hover{
    background-color: rgb(212, 157, 157);
}
