*{
    padding: 0%;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(104, 9, 104);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(66, 3, 66);
    border-radius: 10px;
    flex-direction: column;
}
#picture{
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-color: aqua;
    border:2px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-image:url"https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Flower_jtca001.jpg/1280px-Flower_jtca001.jpg";
}
img{
    width: 100%;
    height:100%;
    border-radius: 50%;
    object-fit:cover; 
    margin: 20px 10px 0px 0px;
    border-color: aqua;
}
.green{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
    color:white;
    height: 150px;
    width:400px;
    
}
#id1{
    height: 150px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
}
#aqua{
    cursor: pointer;
    background-color: aqua;
    padding: 7px;
    border-radius: 10%;
}

#water{
    cursor: pointer;
    background-color: aqua;
    padding:7px;
    border-radius: 10%;

}
#water:hover{
    background-color: rgb(66, 3, 66); 
    color:aqua;
}

#skills{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:row;
    height:200px;
    width:400px;
    color:white;
    margin:0px 0px 10px 10px;
    
}
#buttons{
    background-color:rgb(66, 3, 66); 
    color:white;
    margin: 100px 70px 0px 0px;
}
.b{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.b:hover{
    background-color:rgb(66, 3, 66);  
}
#a{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
}
#b{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
    
}
#c{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
}
#d{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
    
}
#e{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
}
#f{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
    
}
#g{
    cursor: pointer;
    padding: 4px;
    border-color: white;
    background-color: rgb(66, 3, 66); 
    color: white;
    border-radius: 15%;
}
.pro{
    background-color: yellow;
    color:rgb(158, 16, 16);
    margin:4px 350px 3px 0px;
    border-radius: 20%;
    
}
.container:hover{
    background-color: rgba(128, 22, 177, 0.76);
}
.pro:hover{
    background-color: yellow;
}
#aqua:hover{
    background-color: rgb(66, 3, 66); 
    color:aqua;
}
body:hover{
    background-color: rgb(8, 63, 63);
}